*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 450px;
  width: 100%;
  height: 100%;
  max-height: 410px;
  min-height: 230px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.1),
    0px 8px 15px rgba(20, 20, 20, 0.12);
  border-radius: 6px;
  padding: 20px;
  padding-top: 10px;
  margin: auto 24px;
}

.box-group {
  width: 100%;
  display: block;
}

.box-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.box-group label {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border-radius: 2px;
}
.box-group:hover label {
  background-color: #fafafa;
}

.box-group label:before {
  content: "";
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1.8px solid #e1e1e1;
  border-radius: 7px;
  padding: 12px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.box-group:hover label:before {
  border: 1.8px solid #bdbdbd;
}
.box-group:active label:before {
  box-shadow: #246af614 0px 0px 0px 4px;
}

.box-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  right: 19px;
  width: 9px;
  height: 17px;
  border: solid #ffffff;
  border-width: 0 1.9px 1.9px 0;
  transform: rotate(45deg);
}
.box-group input:checked + label:before {
  border: 1.8px solid #2469f6;
  background-color: #2469f6;
}
.box-group:hover input:checked + label:before {
  border: 1.8px solid #5087f8;
  background-color: #5087f8;
}
.box-group:active input:checked + label:before {
  border: 1.8px solid #2469f6;
  background-color: #2469f6;
}

.box-group input:hover + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  right: 19px;
  width: 9px;
  height: 17px;
  border: solid #eee;
  border-width: 0 1.9px 1.9px 0;
  transform: rotate(45deg);
}
.box-group:hover input:checked + label:after {
  border: solid #ffffff;
  border-width: 0 1.9px 1.9px 0;
  transform: rotate(45deg);
}
.box-group input:active + label:after {
  border: solid #bdbdbd;
  border-width: 0 1.9px 1.9px 0;
  transform: rotate(45deg);
}

.top-section {
  width: 100%;
  padding: 0px 0px 5px 0px;
}
.top-section .box-group label {
  margin: 0;
  padding: 15px 10px 16px;
}
.middle-section {
  width: 100%;
  padding: 0px 0px 5px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  overflow-y: auto;
}
.middle-section .box-group label {
  padding: 15px 10px;
}
.middle-section::-webkit-scrollbar {
  display: none;
}
.bottom-section {
  width: 100%;
  padding: 15px 0px 0;
}

.bottom-section button {
  width: 100%;
  padding: 15px 0;
  background-color: #ffce22;
  color: #1f2128;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.bottom-section button:hover {
  background-color: #ffd84d;
}
button:disabled {
  cursor: not-allowed;
}
